.cards {
  display: flex;
  width: 920px;
  list-style: none;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
  margin-top: 60px;
  color: #000;
  padding: 0px;
  column-gap: 100px;
  row-gap: 60px;
}

