.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
}

.logo{
  margin: auto;
}

.logo_place_header {
  background-image: url(/images/logo_place_header.svg);
  width: 183px;
  height: 32px;
  background-repeat: no-repeat;
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  margin: 0px 0px 0px 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 4;
  color: #000000;
  position: relative;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  line-height: 25px;
  bottom: 30px;
  left: 64px;
  margin: 0px;
  z-index: 3;
  text-align: justify;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  background-size: contain;
  z-index: 1;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  align-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0px;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #000000;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 30px;
  color: #000000;
}

.two-columns__span-accent{
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.section-title{
  display: flex;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  margin: 0 auto;
  color: #000000;
}

.section-subtitle{
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  margin-top: 20px;
  color: #000000;
}

.table{
  display: flex;
  width: 1100px;
  list-style: none;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  color: #000000;
}

.table__cell{
  width: 250px;
  margin-bottom: 60px;
}

.table__heading{
  display: inline;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  color: #000000;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  color: #000000;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(/images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000000;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  padding-top: 70px;
  margin: 0px;
  color: #000000;
}

.feyman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  background-color:#1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  color: #ffffff;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: #ffffff;
  margin-bottom: 80px;
  margin-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-bottom: 80px;
}

.table__heading_theme_dark {
  color: #ffffff;
}

.table__text_theme_dark {
  color: #ffffff;
}

.kaufman__triangle{
  background-image: url(/images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(/images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
  margin: 0px;
}

.footer__author {
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
}

.footer__list{
  list-style: none;
  margin: 0px;
  padding: 0px;
}


.footer__column-links {
  margin-bottom: 16px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__social-icon {
  size: 16px 16px;
  margin-right: 10px;
}
