.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.logo__place_header {
  width: 183px;
  height: 32px;
  margin: auto;
  position: absolute;
  padding-left: 64px;
  padding-top: 30px;
}

.header__title {
  display: flex;
  margin: auto;
}

.header__title_text {
  width: 730px;
  height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding-left: 64px;
  position: absolute;
  top: 150px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  padding-left: 64px;
  bottom: 30px;
  margin: 0px;
  z-index: 2;
}

.header__subtitle_text {
  text-align: justify;
  font-size: 18px;
  font-weight: normal;
  height: 25px;
  display: inline;
}

.header__link {
  color: #2f80ed;
}

.header__link::after {
  content: "→";
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  background-size: contain;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0px;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

.paragraph_second {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bold_text-paragraph {
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.section-title_theme_white {
  display: inline;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle_theme_white {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 60px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.table_theme_white {
  display: flex;
  width: 1100px;
  list-style: none;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0 auto;
}

.table__cell_theme_white {
  width: 250px;
  margin-bottom: 60px;
}

.table__heading_theme_white {
  display: inline;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_white {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__text_bank{
  margin-top: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(/images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 38px;
  font-weight: normal;
  text-align: center;
  padding-top: 70px;
}

.feyman__link {
  position: absolute;
  right: 48px;
  height: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feyman__link::after {
  content: "→";
}

.kaufman {
  background-color: black;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-bottom: 80px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.table_theme_dark {
  display: flex;
  width: 1100px;
  list-style: none;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0 auto;
}

.table__cell_theme_dark {
  width: 200px;
  margin-bottom: 80px;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background-color: black;
}

.footer__columns {
  width: 90%;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column_content_info {
  padding-bottom: 16px;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__social-icon {
  size: 16px 16px;
  margin-right: 10px;
}
